<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Welcome to your Profile, <%= name %></h1>
            <% if (exchangeCode) { %>
                <p>You successfully set up a new gift exchange!
                    To invite new people to take part in it, copy this code
                    and pass it over to anyone you'd like to invite.
                They can use this code to join the exchange on Home page</p>
                <h1 class="text-center"><strong><%= exchangeCode %></strong></h1>
            <% } %>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">List of your exchanges</h1>

                <p>You successfully set up a new gift exchange!<br>
                    To invite new people to take part in it, copy this code <br>
                    and pass it over to anyone you'd like to invite.</p>
                <h1 class="text-center"><strong>something</strong></h1>
        </div>
    </div>
</div>


